# Python compilation
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Project Data  
data/*.json
data/*.csv
logs/*.log

# Operating System junk
.DS_Store
Thumbs.db